<div class="modal-header text-center">
  <h4 class="modal-title pull-left">Create secret</h4>
</div>
<div class="modal-body">
  <form class="secret-form">
    <div *ngIf="secretType === 'amazon'" [formGroup]="amazonSecretForm">
      <div class="form-group form-inline">
        <label for="amazonName" class="form-inline">Name</label>
        <input id="amazonName" class="form-control" formControlName="name">
      </div>
      <div class="form-group form-inline">
        <label for="accessKeyId" class="form-inline">Access key</label>
        <input id="accessKeyId" class="form-control" formControlName="accessKeyId">
      </div>
      <div class="form-group form-inline">
        <label for="secretAccessKeyId" class="form-inline">Secret access key</label>
        <input id="secretAccessKeyId" class="form-control" formControlName="secretAccessKeyId">
      </div>
    </div>

    <div *ngIf="secretType === 'azure'" [formGroup]="azureSecretForm">
      <div class="form-group form-inline">
        <label for="azureName" class="form-inline">Name</label>
        <input id="azureName" class="form-control" formControlName="name">
      </div>
      <div class="form-group form-inline">
        <label for="clientSecret" class="form-inline">Client secret</label>
        <input id="clientSecret" class="form-control" formControlName="clientSecret">
      </div>
      <div class="form-group form-inline">
        <label for="clientId" class="form-inline">Client id</label>
        <input id="clientId" class="form-control" formControlName="clientId">
      </div>
      <div class="form-group form-inline">
        <label for="clientSecret" class="form-inline">Tentant id</label>
        <input id="tenantId" class="form-control" formControlName="tenantId">
      </div>
      <div class="form-group form-inline">
        <label for="clientSecret" class="form-inline">Subscription id</label>
        <input id="subscriptionId" class="form-control" formControlName="subscriptionId">
      </div>
    </div>

    <div *ngIf="secretType === 'google'">
    </div>

  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
  <button type="button" class="btn btn-success" (click)="create()" [disabled]="isInvalidForm()">Create</button>
</div>
