  .tp-box {
    position: relative;
    height: 320px;
    transform-style: preserve-3d;
    transition: transform 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;    
  }
  .tp-box__side {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    text-align: center;
    user-select: none;
    background-color: black;
    color: white;
  }

  .tp-box__front {
    position: absolute;
    backface-visibility: hidden;
  }

  .tp-box__back {
    transform: rotateY(180deg);
  }

  .thumbnail>img {
    height: 100px;
  }

  .thumbnail {
    border: none;
  }

  .thumbnail p {
    height: 120px;
    overflow: auto;
  }