<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="toggleCollapse()" data-toggle="collapse"
              data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="nav-link" [routerLink]="['drone']">
        <img class="navbar-brand" src="assets/banzai.png">
      </a>
    </div>
    <div class="collapse navbar-collapse" [class.show]="show" id="myNavbar">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="cluster">Cluster management</a>
        </li>
        <li routerLinkActive="active">
          <a href="javascript:void(0)">Deployment</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="spotguide">Spotguide</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="drone">Drone</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <select id="orgSelect" class="org-select" [(ngModel)]="currentOrg" (change)="onOrgChange()">
            <option *ngFor="let org of orgs" [value]="org.id">{{org.name}}</option>
          </select>
        </li>
        <li class="hidden-xs">
          <img class="navbar-brand" src="https://avatars3.githubusercontent.com/u/14181875?s=40&v=4">
        </li>
        <!--<li>
          <a href="javascript:void(0)" (click)="logout()">
            <span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
<ngx-alerts></ngx-alerts>
<router-outlet></router-outlet>
