.navbar-brand{
    padding: 5px 5px;
    border-radius: 50%;
}

.navbar-center{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:12px auto;
    font-size: 18px;
}

.height-100 {
  height: 100%;
}

.org-select {
  margin-right: 20px;
  margin-top: 15px;
  width: 100px;
  cursor: pointer;
}
