<div class="panel panel-default panel-width" style="margin-bottom: 20px">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-7 col-sm-6">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
          <input type="text" class="form-control" placeholder="Cluster name" [(ngModel)]="searchData">
        </div>
      </div>
      <div class="col-md-5 col-sm-6">
        <div class="btn-group-sx text-right">
          <button type="button" class="btn btn-default"> Create cluster from config</button>
          <button type="button" class="btn btn-success" (click)="addCluster()"> Create cluster</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default cluster-heading-panel">
  <div class="panel-heading cluster-heading">
    <div class="row">
      <div class="col-xs-1 col-sm-1">
        <!--cluster icons-->
      </div>
      <div class="col-xs-2 col-sm-2">
        Name
      </div>
      <div class="col-xs-1 col-sm-1">
        Cloud
      </div>
      <div class="col-xs-1 col-sm-1">
        Owner
      </div>
      <div class="col-xs-2 col-sm-2">
        Location
      </div>
      <div class="col-xs-1 col-sm-1">
        Uptime
      </div>
      <div class="col-xs-2 col-sm-3">
      </div>
      <div class="col-xs-2 col-sm-1 text-right cluster-list-actions">
        <span class="glyphicon glyphicon glyphicon-cog"></span>
      </div>
    </div>
  </div>
</div>

<div class="panel text-center" style="margin-top: 10px" *ngIf="isLoading">
  <div>
    <i class="fa fa-spinner fa-2x fa-spin"></i>
  </div>
</div>

<div class="panel panel-width" *ngIf="clusters.length > 0">
  <accordion #accordion [closeOthers]="true">
    <accordion-group panelClass="cluster-list-group" #accordionGroup
                     *ngFor="let cluster of clusters | searchFilter: searchData:'name' | paginate: { itemsPerPage: clusterPageCount, currentPage: page, id: 'clusters'}">
      <div accordion-heading>
        <div class="row cluster-row">
          <div class="col-xs-1 col-sm-1">
            <img src="../../../../assets/images/aws_icon.ico" class="cluster-icons" *ngIf="cluster.cloud === 'amazon'">
            <img src="../../../../assets/images/azure_icon.png" class="cluster-icons" *ngIf="cluster.cloud === 'azure'">
            <img src="../../../../assets/images/google_icon.png" class="cluster-icons"
                 *ngIf="cluster.cloud === 'google'">
          </div>
          <div class="col-xs-2 col-sm-2 cluster-row-height">
            <span class="vertical-middle">
            {{cluster.name}}
            </span>
          </div>
          <div class="col-xs-1 col-sm-1 cluster-row-height">
            <span class="vertical-middle">
            {{cluster.cloud}}
            </span>
          </div>
          <div class="col-xs-1 col-sm-1 cluster-row-height">
            <span class="vertical-middle">
              -
            </span>
          </div>
          <div class="col-xs-2 col-sm-2 cluster-row-height">
             <span class="vertical-middle">
              -
            </span>
          </div>
          <div class="col-xs-1 col-sm-1 cluster-row-height">
             <span class="vertical-middle">
               -
            </span>
          </div>
          <div class="col-xs-2 col-sm-2 cluster-row-height">
             <span class="vertical-middle">
               -
            </span>
          </div>
          <div class="col-xs-2 col-sm-2 cluster-row-height cluster-list-actions text-right">
            <div class="btn-group btn-group-xs vertical-middle pull-right">
              <button type="button" class="btn btn-default" (click)="downloadConfig($event, cluster.id)">
                <span class="glyphicon glyphicon-download-alt"></span>
              </button>
              <button type="button" class="btn btn-danger"
                      (click)="openDeleteModal($event, cluster, deleteModal)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <app-cluster-detail class="cluster-detail" [cluster]="cluster"
                          [visibleChange]="accordionGroup.isOpenChange"></app-cluster-detail>
    </accordion-group>
  </accordion>
  <div class="text-center pull-right">
    <pagination-controls class="cluster-pagination" id="clusters" (pageChange)="page = $event" autoHide="true"
                         previousLabel="" nextLabel=""></pagination-controls>
  </div>
</div>

<div class="panel text-center empty-custer-width" *ngIf="clusters.length === 0 && !isLoading">
  <div class="panel-heading">
    <h2>Empty cluster list!</h2>
    <div class="panel-body">
      <div class="btn-group-lg">
        <button type="button" class="btn btn-success" (click)="addCluster()">Create cluster</button>
      </div>
    </div>
  </div>
</div>

<!--Cluster delete dialog modal-->
<modal #deleteModal modalClass="modal-md">
  <modal-header>
    <h4>Are you absolutely sure?</h4>
  </modal-header>
  <modal-content>
    <div class="cluster-delete-modal-content">
      Please type in the name of the cluster to confirm.
      <input class="form-control" [placeholder]="selectedClusterName" [(ngModel)]="deletedClusterName">
    </div>
  </modal-content>
  <modal-footer>
    <button type="button" class="btn btn-default" (click)="deleteModal.close()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="deleteCluster();deleteModal.close()"
            [disabled]="deletedClusterName !== selectedClusterName">
      Delete
    </button>
  </modal-footer>
</modal>
