.detail-width {
  width: 90%;
  margin: auto;
  height: 100%;
}

.empty-custer-width {
  width: 40%;
  margin: auto;
}

.selected-row {
  background-color: #dddddd;
}

.cluster-row {
  font-size: 12px;
}

.cluster-heading-panel {
  margin-bottom: 5px;
  .cluster-heading {
    font-size: 13px;
    font-weight: bold;
  }
}

.cluster-icons {
  width: 30px;
}

.cluster-row-height {
  height: 30px;
}

.cluster-list-actions {
  .glyphicon-cog {
    color: gray;
  }
}

