.well-danger {
    background-color: #f2dede !important;   
    color: #a94442;
}

.well-warning {
    background-color: #fcf8e3 !important;   
    color: #8a6d3b;
}

.well-success {
    background-color: #dff0d8 !important;   
    color: #3c763d;
}

.timer {
    margin-right: 10px;
    font-size: 13px;
    margin-top: 1px;
}
