.well-danger {
    background-color: #f2dede !important;   
    color: #a94442;
}

.well-warning {
    background-color: #fcf8e3 !important;   
    color: #8a6d3b;
}

.well-success {
    background-color: #dff0d8 !important;   
    color: #3c763d;
}

.timer {
    margin-right: 10px;
    font-size: 13px;
    margin-top: 1px;
}

.log-out {
    word-wrap: break-word;    
}

.sticky {
    width: 28.5%;
}

.log-scrolling {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: row;
}
